<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
   
    <add name="PosConString" connectionString="SERVER = Tanzid-PC\SQLEXPRESS; DATABASE =IFADPOS; Integrated Security=True" providerName="System.Data.SqlClient" />
       <add name="cryServer" connectionString="Tanzid-PC" />
        <add name="cryDatabase" connectionString="IFADPOS" />
        <add name="cryUserID" connectionString="sa" />
        <add name="cryPass" connectionString="123" />

    
     <!--<add name="PosConString" connectionString="SERVER = ELGI-PC; DATABASE =IFADPOS; user id = datasale; PASSWORD = @group123" />
        <add name="cryServer" connectionString="ELGI-PC" />
        <add name="cryDatabase" connectionString="IFADPOS" />
        <add name="cryUserID" connectionString="datasale" />
        <add name="cryPass" connectionString="@group123" />
        
        <add name="PosConString" connectionString="SERVER = Satyajit-PC; DATABASE =IFADPOS; user id = sa; PASSWORD = 123" />
        <add name="cryServer" connectionString="Satyajit-PC" />
        <add name="cryDatabase" connectionString="IFADPOS" />
        <add name="cryUserID" connectionString="sa" />
        <add name="cryPass" connectionString="123" />-->

  </connectionStrings>
</configuration>
